<!doctype html>
<html>
  <head profile="http://gmpg.org/xfn/11">
    <title>Subs F-N WHere?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/sfw.css">
    {% block head %}{% endblock %}
  </head>
  <body>
  {% block body %}
      {% block content %}{% endblock %}
      <footer> 
        Ilya Petrov | 
        <a href="http://github.com/muromec/subs-fn-where/" >source f-n where?</a>
      </footer>
      {% block scripts %}{% endblock %}
  {% endblock %}
    
  </body>
</html>
